$text-color:                #444;
$base-pixel:                8px;

$line-measure:              600px;


$base-pixel-half: 			 $base-pixel / 2;
$base-pixel-x1-5:            $base-pixel * 1.5;
$base-pixel-x2:              $base-pixel * 2;
$base-pixel-x3:              $base-pixel * 3;
$base-pixel-x4:              $base-pixel * 4;
$base-pixel-x5:              $base-pixel * 5;
$base-pixel-x6:              $base-pixel * 6;
$base-pixel-x7:              $base-pixel * 7;
$base-pixel-x8:              $base-pixel * 8;
$base-pixel-x9:              $base-pixel * 9;
$base-pixel-x10:             $base-pixel * 10;


$sandia-blue:               #00b7e1;
$sandia-medium-blue:        #0076a9;
$sandia-orange:             #f70;
$sandia-map-beige:          #e9e6d0;
$sandia-border-grey:        #d5d5d5;
$sandia-border-grey-md:     #888;
$sandia-border-grey-dk:     #555;

