/.editorconfig
/docs
/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/.idea/copyright
/.idea/dictionaries
/.idea/encodings.xml
/.idea/workspace.xml
/.idea/misc.xml
.idea/SearchResults.iml
.idea/libraries/*
/e2e/results/
/karma/results/
/karma/coverage/
/src/app/config.js
/src/styles/main.css
