<div class="container-fluid" style="position: relative; ">
    <div class="row">
        <div class="error clearfix">
            <div class="fourohfour-box">
                <h1 class="fourohfour-text">404</h1>
            </div>
            <h1>Sorry, but nothing exists here :(</h1>
            <div class="button-group">
                <button class="btn btn-default btn-primary" ui-sref="inside.home" role="button">Go to
                    Homepage
                </button>
                <button class="btn btn-default" ui-sref="inside.contact" role="button">Help, I’m pretty sure
                    this page existed before
                </button>
            </div>
        </div>
    </div>
</div>
