<div class="container-fluid" style="position: relative; ">
    <div class="row">
        <div class="error clearfix">
            <div class="fourohfour-box">
                <h1 class="fourohfour-text">500</h1>
            </div>
            <h1>Sorry, but the page had an unexpected error. :(</h1>
            <div class="button-group">
                <button class="btn btn-default btn-primary" ui-sref="inside.home" role="button">Go to
                    Homepage
                </button>
                <button class="btn btn-default" ui-sref="inside.contact" role="button">Help, I refreshed the
                    page and it still doesn't work.
                </button>
            </div>
        </div>
    </div>
</div>
