<div class="camera-controls">
    <div class="pan">
        <span class="glyphicon glyphicon-arrow-left left" ng-click="camera.move(camera.id, 'left')"></span>
        <span class="glyphicon glyphicon-arrow-up up" ng-click="camera.move(camera.id, 'up')"></span>
        <span class="glyphicon glyphicon-arrow-down down" ng-click="camera.move(camera.id, 'down')"></span>
        <span class="glyphicon glyphicon-arrow-right right" ng-click="camera.move(camera.id, 'right')"></span>
    </div>
    <div class="zoom">
        <span class="glyphicon glyphicon-plus in" ng-click="camera.move(camera.id, 'in')"></span>
        <span class="glyphicon glyphicon-minus out" ng-click="camera.move(camera.id, 'out')"></span>
    </div>
</div>
