#corpWorkbox {

	#corpWorkboxWrapper {

		iframe {
			margin-bottom:-9px !important;
			width:100%;
		}
	}
}

/*#corpWorkbox > .corporate-workbox-test {
	border:1px solid red !important;
	margin-bottom:-7px !important;
}*/
