<header role="banner">
    <div class="container-fluid">
        <div class="navbar-header"><a ui-sref="home" class="brand">[Project Name]</a></div>
        <ul class="nav navbar-nav navbar-right pull-right">

            <li class="hidden-xs"><a href="mailto:inside-help@sandia.gov?subject=[Project Name] Feedback">Provide
                Feedback</a></li>
            <li class="user-name">
                <span ng-bind="userFirstName"></span>
                <span ng-bind="userLastName" class="hidden-xs"></span>
            </li>
        </ul>
    </div>
</header>
