<section class="col-md-8" ng-show="showing==1">
  <h3 class="col-sm-12">MAP-R</h3>
  <div>In collaboration with Kansas City Nuclear Security Campus (KS/NSC) and NNSA, the Product Lifecycle Management team is undertaking MAP-R, a project to quantify the business value for model-based definition, manufacturing, and inspection. </div>
  <div>
    MAP-R will build on a study conducted by the National Institute of Standards and Technology (NIST) to help answer an array of questions:
    <ul>
      <li>Does MBE provide a quantifiable business benefit?</li>
      <li>What are the attributes of a “trusted” model?</li>
      <li>How does the national security enterprise authorize a model as formal product definition?</li>
      <li>What are the current capabilities (people, processes, tools) and maturity related to the use of models in NW development?</li>
    </ul>
  </div>
</div>
<div ng-show="showing==2">
  <h3 class="col-sm-12">JTD Engineering Design Activity</h3>
  <div>Sandia will support the design engineering portion of a Joint Technology Demonstrator initiative to pilot an MBE process for development and deployment. This initiative includes participation of the three NNSA laboratories, KC/NSC, NNSA, US Air Force, US Navy, and several United Kingdom organizations: the Royal Navy, Ministry of Defense and Atomic Weapons Establishment (AWE).</div>
  <div>
    <strong>The project will examine:</strong>
    <ul>
      <li>A CAD-driven product structure</li>
      <li>Integrated change management</li>
      <li>Improved model quality rules</li>
      <li>Enhanced collaboration with need-to-know enforced and published 3D viewables</li>
      <li>Data authorization via technical data packages</li>
    </ul>
  </div>
</div>
<div ng-show="showing==3">
  <h3 class="col-sm-12">MBx Summit 2017</h3>
  <p>We are partnering with multiple Sandia organizations to coordinate an MBx Summit in 2017. This summit is seen as a venue for sharing information on the focus and progress of MBE initiatives throughout Sandia and potentially for integrating efforts with common features and goals.</p>
</div>
</section>
