<div id="what-r" ng-show="showing==3">
  <h3 class="col-sm-12">What are the benefits</h3>
  <div class="col-sm-12">Need more content for why this is all beneficial</div>
  <table class="col-sm-12">
    <tr><th></th><th>Drawing-Based Processes</th><th>MBE Processes</th></tr>
    <tr>
      <td>Product Definition</td>
      <td>Drawing derived, but disconnected, from model</td>
      <td>Model contains complete product definition in PMI, providing XXX benefit</td>
    </tr>
    <tr>
      <td>Engineering Bill of Materials (EBOM)</td>
      <td>
        <ul>
          <li>EBOM manually defined</li>
          <li>EBOM not linked to the CAD models</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>EBOM managed in PLM for greater efficiency
          <li>EBOM definition defined using CAD models, providing XXX benefit</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Analysis</td>
      <td>New models created to support analytic activities</td>
      <td>Native CAD model reused as analytic model without modifications, saving time and effort</td>
    </tr>
    <tr>
      <td>Checking & Model Quality</td>
      <td>
        <ul>
          <li>2D drawing validated</li>
          <li>3D model NOT validated</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>3D product definition validated during model creation, providing XXX benefit</li>
          <li>Derivatives validated at creation, automatically, providing XXX benefit</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
