<header role="banner">
    <div class="container-fluid">
        <div class="navbar-header"><a ui-sref="home" class="brand">Model Based Enterprise</a></div>
        <ul class="nav navbar-nav navbar-right">

            <li><a href="" ng-click="homeCtrl.scrollToSection('mbe');">MBE</a></li>
            <li><a href="" ng-click="homeCtrl.scrollToSection('advantages');">MBE Advantages</a></li>
            <li><a href="" ng-click="homeCtrl.scrollToSection('piloting');">Piloting MBE</a></li>
            <li><a href="" ng-click="homeCtrl.scrollToSection('roadmap');">MBE Roadmap</a></li>
            <li><a href="" ng-click="homeCtrl.scrollToSection('more');">Resources</a></li>
        </ul>
    </div>
</header>
