<div>
<div class="footer-body-margin"></div>
<footer id="siteFooter" class="slim">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav navbar-nav">
         <li><a href="mailto:inside-help@sandia.gov?subject=[Project Name] Feedback">Provide Feedback</a></li>
        </ul>
        <ul class="nav nav-bar supporting-info">
          <li><a ng-href="{{ctrlFooter.releaseNotesUrl}}" title="View [Project Name] Release Notes">Build {{ctrlFooter.versionInfo}} Release Notes</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
