<div class="panel panel-default">
    <div class="panel-body container-fluid">
        <div class="col-sm-12">
            <p>
                As an administrator,<br/>I would like to...
            </p>
            <form>
                <select ng-model="ctrl.template" class="form-control" ng-change="ctrl.actionSelected()">
                    <option disabled="disabled" selected="selected" value="">Select an Action</option>
                    <option value="acronym">Create an Acronym</option>
                    <option value="definition">Create a Definition</option>
                    <option value="categories">Manage Categories</option>
                </select>
            </form>
        </div>
    </div>
</div>
