@import "mixins";
@import "variables";

@import "global";

@import "icons";

@import "header";
@import "footer";

@import "dialog";


@import "animations";
@import "responsive";


@import "site";
@import "createDefinition";

//Global Styles
.cadmform-container {
  margin-bottom: 24px;
}
.highlighted { background: yellow }
h5 {
  margin-bottom: 0px;
}
.highlightedG { background: #90ee90; }