<header role="banner">
  <div class="container-fluid">
    <div class="navbar-header"><a href="#" class="brand">Corporate Acronym and Dictionary Manager</a></div>
    <ul class="nav navbar-nav navbar-right pull-right">
      <li class="hidden-xs">
        <a href="https://info.sandia.gov/cps">Corporate Policy System</a>
      </li>
      <li class="hidden-xs">
        <a href="https://info.sandia.gov/cps/faq">Frequently Asked Questions</a>
      </li>
      <li class="hidden-xs">
        <a href="https://info.sandia.gov/cps/contacts/provideFeedback.html">Provide Feedback</a>
      </li>
    </ul>
  </div>
</header>