<md-dialog>
  <md-dialog-content class="container-fluid" style="width:400px; max-width:400px;max-height:600px;">
    <div class="col-sm-12">
      <h2 class="row">Help</h2>
      <hr class="row"/>
      <div class="row">
        <span class="col-sm-12" ng-bind-html="ctrl.helpText"></span>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="btn btn-default md-raised md-primary" ng-click="cancel();">Okay</md-button>
  </md-dialog-actions>
</md-dialog>,
