<div id="manageTerm" class="row">
    <form name="createUpdate" novalidate>
        <h1><span ng-bind="ctrl.isUpdate ? 'Update':'Create'"></span> a<span
                ng-bind="ctrl.isAcronym ? 'n Acronym':' Definition'"></span></h1>
        <div class="content">
            <div class="row" ng-if="ctrl.isUpdate">
                <label class="col-sm-2 required">ID</label>
                <span ng-model="ctrl.data.id" ng-bind="ctrl.data.id"></span>
                <md-button ng-click="ctrl.popupHistoryDialog($event, ctrl.result)"
                           class="btn btn-link pull-right history-btn" tabindex="-1">Show History
                </md-button>
            </div>
            <div class="row" ng-if="ctrl.isAcronym">
                <label class="col-sm-2 required">Acronym</label>
                <input id="acronym" size="10" maxsize="75" name="acronym" ng-model="ctrl.data.acronym" type="text"
                       ng-required="ctrl.isAcronym?true:false" ng-trim="true"/>
            </div>
            <div class="row">
                <label class="col-sm-2 required">
                    {{ctrl.termTitle}}
                    <span ng-if="ctrl.isAcronym" class="glyphicon glyphicon-question-sign helpIcon"
                          title="The term or phrase of the acronym expanded. Example: OUO would be Official Use Only"
                          ng-click="ctrl.popupHelpDialog($event)" tabindex="-1"></span>
                </label>
                <input id="term" size="50" maxsize="75" name="term" ng-model="ctrl.data.term" type="text"
                       ng-required="!ctrl.isAcronym?true:false" ng-trim="true"/>
            </div>
            <div class="row" id="SupersededTermTop" ng-if="ctrl.isUpdate">
                <label class="col-sm-2">
                    Status
                    <span class="glyphicon glyphicon-question-sign helpIcon"
                          title="Term Status shows or hides a term from the CADM search for the general members of the workforce."
                          ng-click="ctrl.popupHelpDialog($event)" tabindex="-1"></span>
                </label>
                <select id="TermDeleteFlag" ng-model="ctrl.data.deleteFlag">
                    <option value="N">Active</option>
                    <option value="Y">Inactive</option>
                    <option value="">Any status</option>
                </select>
                <span ng-if="ctrl.data.deleteFlag=='Y'" class="supersededTermWrapper">
                <label>Superseded By Term:</label>
                <button class="btn btn-default" ng-click="replaceTerm = true">
                    Lookup Term
                </button>
                <input type="text" ng-value="ctrl.data.supersededByTerm.term" readonly tabindex="-1"/>
                <div class="col-sm-offset-2 col-sm-10" ng-show="replaceTerm">
                    <term-picker selected="ctrl.data.supersededByTerm" multi-select=false
                                 parent-id=replaceTerm></term-picker>
                </div>
            </span>
            </div>
            <div class="row">
                <label class="col-sm-2" ng-class="{required:!ctrl.isAcronym}">
                    Definition
                    <span ng-if="ctrl.isAcronym" class="glyphicon glyphicon-question-sign helpIcon"
                          title="The definition or an expanded explanation of an acronym."
                          ng-click="ctrl.popupHelpDialog($event)" tabindex="-1"></span>
                    <span ng-if="!ctrl.isAcronym" class="glyphicon glyphicon-question-sign helpIcon"
                          title="This is the 'dictionary' definition of the term."
                          ng-click="ctrl.popupHelpDialog($event)" tabindex="-1"></span>
                </label>
                <div class="col-sm-10 definitionWrapper">
                    <summernote ng-model="ctrl.data.definition" ng-required="!ctrl.isAcronym?true:false" config="ctrl.rteOptions" on-init="ctrl.initEditor()" tabindex="-1"></summernote>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 required">Categories</label>
                <select class="" id="category-select" name="categorySelect"
                        title="Select Categories associated to the term." ng-model="selectedCategory"
                        ng-options="option.name for option in ctrl.categoryOptions"
                        ng-change="ctrl.addCategory(selectedCategory);" ng-required="ctrl.data.categories.length > 0?false:true">
                    <option value="" selected disabled>Category</option>
                </select>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                    <span ng-repeat="category in ctrl.data.categories">
                        <a ng-click="ctrl.removeCategory($index)" class="deleteIcon">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span ng-bind="category.name"></span>
                        </a>
                    </span>
                    </div>
                </div>
            </div>
            <div class="row" id="RelatedTermTop">
                <label class="col-sm-2">
                    Related Terms
                    <span class="glyphicon glyphicon-question-sign helpIcon"
                          title="Existing terms in the CADM database that are associated with this term"
                          ng-click="ctrl.popupHelpDialog($event)" tabindex="-1"></span>
                </label>
                <button class="btn btn-default" ng-click="findTerms = true" tabindex="-1">
                    Lookup Term(s)
                </button>
                <span ng-repeat="relatedTerm in ctrl.data.relatedTerms">
                        <a ng-click="ctrl.removeTerm(relatedTerm)" class="deleteIcon" tabindex="-1"><span
                                class="glyphicon glyphicon-remove-circle"></span> {{relatedTerm.term}}</a>
            </span>
                <div ng-show="findTerms">
                    <div class="col-sm-offset-2 col-sm-10">
                        <term-picker selected="ctrl.data.relatedTerms" multi-select=true
                                     parent-id=findTerms></term-picker>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2">Reason for <span ng-bind="ctrl.isUpdate ? 'Update':'Creation'"></span>
                    <span class="glyphicon glyphicon-asterisk clean"></span>
                </label>
                <textarea id="noteText" name="noteText" cols="50" rows="5" class="col-sm-10"
                          ng-model="ctrl.data.updateReason"></textarea>
            </div>
            <div class="row" id="acronymActions">
                <hr/>
                <span class="pull-right">
                <button class="btn btn-default" ng-click="ctrl.cancel();">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary" ng-click="ctrl.submitChange()" ng-disabled="createUpdate.$invalid">
                    Submit
                </button>
            </span>
            </div>
        </div>
    </form>
</div>
