<inside-menu></inside-menu>
<div class="col-md-10 col-sm-9 main-content">
    <ng-include src="'app/components/topRegion/topRegion.tpl.html'"></ng-include>

    <div class="container-fluid content-page">

        <div class="row layout-normal">
            <div class="col-md-8">
                <h1>Alerts/Help Numbers</h1>
                <!--Help Numbers - info.sandia.gov-->

                <!--Essential corporate numbers in the areas of computing, security, services, and emergency and non-emergency numbers-->


                <p>The purpose of this page is to provide employees with essential corporate numbers
                    in the areas of computing, security, services, and emergency and non-emergency
                    numbers. For other help desks and hot lines, see the Yellow Pages links below.</p>
                <div class="content-group clearfix">
                    <div class="col-xs-12">
                        <h3><a href="http://cchd.sandia.gov">CCHD</a> &amp; <a
                                href="http://info.sandia.gov/cchdalerts/AllAlertsNW.html">CCHD Alerts</a></h3>
                    </div>
                    <div class="col-lg-6 col-sm-4 col-xs-12">
                        <p><strong>845-2243</strong></p>
                    </div>

                    <div class="col-lg-6 col-sm-8 col-xs-12">
                        <p>CCHD is your connection to service and support for all desktop and laptop
                            computing needs, as well as any other computing-related service.</p>
                    </div>
                </div>

                <div class="content-group clearfix">
                    <div class="col-xs-12">
                        <h3><a href="http://srp.srn.sandia.gov">Emergency Notifications Self-Registration Portal</a>
                        </h3>
                    </div>

                    <div class="col-xs-12">
                        <p>The Emergency Notifications Self Registration Portal (SRP) is where you can sign up for
                            alerts (protective actions, gate status, work delays/closures) to improve notifications
                            during emergencies and routine information to assist with business decision making. The SRP
                            is a highly secure yet easy&ndash;to&ndash;access web tool that allows people to sign up to
                            receive the notifications
                            issued by Emergency Management. The SRP has been reviewed and approved by Cyber Security and
                            Legal.</p>
                    </div>
                </div>

                <div class="content-group clearfix">
                    <div class="col-xs-12">
                        <h3><a href="https://info.sandia.gov/fmoc/">Facilities Service Requests</a></h3>
                    </div>
                    <div class="col-lg-6 col-sm-4 col-xs-12">
                        <p><strong>844-4571</strong></p>
                    </div>

                    <div class="col-lg-6 col-sm-8 col-xs-12">
                        <p>Call the Facilities Service Requests hotline 24 hours a day to request any Facilities
                            service.</p>
                    </div>
                </div>

                <div class="content-group clearfix">
                    <div class="col-xs-12">
                        <h3><a href="http://oops.sandia.gov/">OOPS! Call 311!</a></h3>
                    </div>
                    <div class="col-lg-6 col-sm-4 col-xs-12">
                        <p>
                            <strong>Non-Emergency</strong><br>SNL: 311 or 505-844-0311 (mobile)
                        </p>

                        <p>
                            <strong>Emergency</strong><br>SNL/NM: 911 or 505-844-0911 (outside line)<br/>SNL/CA: 911 or
                            925-294-2222 (outside line)
                        </p>
                        <p>
                            <strong>World Wide</strong><br>1-888-765-0311<br/>1-888-SNL-0311
                        </p>
                    </div>

                    <div class="col-lg-6 col-sm-8 col-xs-12">
                        <p>Call 311 to report almost anything &ndash; injuries, safety concerns, security incidents,
                            near&ndash;miss events, vehicle accidents, property damage, wildlife, broken glass, chemical
                            and water leaks, bad odors, pests, etc. Depending on the situation, we will send a response
                            team, transfer you to the appropriate support team, and/or ask your Division contact to get
                            in touch with you.
                            The 311 phone lines are open 24/7.</p>
                    </div>
                </div>

                <div class="content-group clearfix">
                    <div class="col-xs-12">
                        <h3><a href="https://security.sandia.gov/Article/Article/403">SIMP</a></h3>
                    </div>
                    <div class="col-lg-6 col-sm-4 col-xs-12">
                        <p><strong>SIMP Contact Numbers<br>
                        </strong>SNL/NM: 283-7467 (BUD-SIMP)<br>
                            SNL/CA: (925) 294-2600</p>
                        <p><a href="https://arsprod.sandia.gov/kinetic/DisplayPage?name=SecurityConnection_SR"><strong>Security
                            Connection Request</strong></a></p>
                    </div>

                    <div class="col-lg-6 col-sm-8 col-xs-12">
                        <p>Security Incident Management Program for SNL that meets DOE requirements for conducting
                            inquiries and reporting Incidents of Security Concern.</p>
                    </div>
                </div>

                <div class="content-group clearfix">
                    <div class="col-xs-12">
                        <h3><a href="https://info.sandia.gov/esh/ecoticket/request.php">Wildlife Issues Customer
                            Request</a></h3>
                    </div>

                    <div class="col-xs-12">
                        <p>The SNL/NM Ecology Program responds to all wildlife issues on site including: snakes, bird&#39;s
                            nests, trapped or injured wildlife, dead wildlife, and other wildlife related issues.</p>
                    </div>
                </div>

                <div class="content-group clearfix">
                    <div class="col-xs-12">
                        <h3>Sandia Yellow Pages Links:</h3>
                    </div>
                    <div class="col-lg-6 col-sm-4 col-xs-12">
                        <ul>
                            <li><a href="http://info.sandia.gov/yellowpages/serv2.cgi?service=help+desks&site=&scope=">Help
                                Desks</a></li>
                            <li><a href="http://info.sandia.gov/yellowpages/serv2.cgi?service=hot+lines&site=&scope=">Hotlines</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-sm-8 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>$(window).scrollTop(0)</script>
