<inside-menu></inside-menu>
<div class="col-md-10 col-sm-9 main-content">
    <ng-include src="'app/components/topRegion/topRegion.tpl.html'"></ng-include>

    <div class="row layout-normal">
        <div class="col-md-12">
            <h1>Contact Us</h1>
            <h2>Request a Change to Techweb</h2>
            <p>To request a change to Techweb (i.e., adding, changing, or deleting a link), please contact CCHD at (505)
                845-CCHD or <a href="mailto:inside-help@sandia.gov">inside-help@sandia.gov</a>.</p>

            <ul>
                <li><strong>Adding Links:</strong> Provide the URL, the wording for the link, and where on Techweb you
                    would like the new link to appear.
                </li>
                <li><strong>Editing / Deleting Links:</strong> Indicate where on Techweb the link you'd like changed is
                    located and what specific changes are requested.
                </li>
            </ul>

            <h2>Request a Teaser</h2>
            <ul>
                <li><a href="http://info.sandia.gov/hp/announce/request.html">How to request a teaser on Techweb</a></li>
                <li><a href="http://info.sandia.gov/hp/teasers/pastteasers.cgi">View past teasers</a></li>
            </ul>

            <h2>Other Requests</h2>
            <p>CCHD (845-CCHD or <a href="mailto:cchd@sandia.gov">cchd@sandia.gov</a>) can help you with:</p>
            <ul>
                <li>Web problems (finding something on the web, using web tools or applications, writing for the web)</li>
                <li>Desktop or laptop questions</li>
                <li>Network, software, or hardware problems</li>
                <li>Creating a collaboration site on <a href="https://sharepoint.sandia.gov/SitePages/Home.aspx">SharePoint</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>$(window).scrollTop(0)</script>
