<section class="row mbe-group mbe-intro">
  <a id="mbe" class="group-top"></a>
  <h1 class="col-sm-12">Model Based Enterprise</h1>
    <div class="col-md-7">
      <p>Model-Based Enterprise (MBE) is an emerging engineering approach that couples 3D models with information management systems to create a complete, accurate, under control, and managed dataset for a product under development.</p>
      <p>Together, the dataset and 3D models form a trusted model that provides an up-to-date vision of a product in design and any changes it has undergone in the development process. Enterprises applying MBE have seen reductions of 25 to 50% in product development time; improved efficiencies through reuse of datasets: and decreases in product nonconformance.</p>
      <p>To explore the potential for MBE within the nuclear security enterprise (NSE), the Product Lifecycle Management organization (0982) is collaborating with other Sandia organizations and others in the US and UK NSE to help create the data to support a business case for MBE and improve understanding of the technical gaps and hurdles of further developing MBE.</p>
      <p>In addition, the team is working to coordinate an MBx Summit in FY17 to bring awareness of model-based initiatives across Sandia.</p>
    </div>
    <div class="col-md-5">
      <!-- <img src="app/components/images/mbe.png" alt="" width="100%"/> -->
    </div>

  <div class="col-sm-12 scroller">
    <svg class="snl-icon snl-icon-chevron-down" ng-attr-title="Scroll Down" viewBox="0 0 24 24" ng-click="homeCtrl.scrollToSection('advantages');">
      <polygon points="8.8,3.5 6.7,5.6 13.1,12 6.7,18.4 8.8,20.5 17.3,12 "/>
    </svg>
  </div>
</section>
