<section class="row mbe-group mbe-resources">
  <a id="more" class="group-top"></a>
  <!-- <div class="col-sm-12 scroller">
    <svg class="snl-icon snl-icon-chevron-up" ng-attr-title="Scroll Up" viewBox="0 0 24 24" ng-click="homeCtrl.scrollToSection('solution');">
      <polygon points="8.8,3.5 6.7,5.6 13.1,12 6.7,18.4 8.8,20.5 17.3,12 "/>
    </svg>
  </div> -->

  <h1 class="col-sm-12">MBE Standards and Resources</h1>
  <div class="col-md-8">

      <p>MBE is moving toward a standardization needed for a complex-wide adoption. As a major step in this direction, the Department of Defense (DoD) released the <a href="http://model-based-enterprise.org/Docs/MIL-STD-31000A released on ASSIST 3 13 2013.pdf">MIL-STD-31000A standard</a>, which defines a technical data package (TDP) and outlines modifications to support an MBE lifecycle transformation, providing guidance on the following:</p>
      <ul>
        <li>2D and 3D TDP comparisons</li>
        <li>Alignment between the TDP and the product lifecycle to enable acquisition of the right data at the right point in the lifecycle</li>
        <li>3D TDP definition based on modern data to provide a product definition foundation that can be reused throughout the lifecycle</li>
        <li>Complete up-to-date TDP definition that can be used to competitively bid a product</li>
        <li>Method for structuring and verifying the quality of a 3D TDP</li>
      </ul>

    <p>DoD is also working to transition this standard to NIST.</p>

    <div>
      <h5>MBE and Additive Manufacturing</h5>
      <p>Sandia’s additive manufacturing (3D printing) team will produce the 3D models used in our MBE projects.</p>
    </div>
    <div>
      <h5>Other Links</h5>
      <ul>
      <li><a href="http://www.model-based-enterprise.org/index.html">Model-based enterprise website</a></li>
      <li><a href="http://www.action-engineering.com/mbe-living-dictionary">MBE Living Dictionary</a></li>
      <li><a href="">Additive manufacturing at Sandia</a></li>
    </ul>
    </div>

  </div>
  <div class="col-md-4">
    some image
  </div>
</section>
