<section class="row mbe-group mbe-pilot">
  <a id="piloting" class="group-top"></a>
    <h1 class="col-sm-12">Piloting MBE for the National Security Complex: MAP-R Project</h1>

    <div class="col-md-8">
      <p>The Product Lifecycle Management team is involved in several efforts to promote MBE within the nuclear security enterprise.</p>

      <h3 class="col-sm-12">MAP-R</h3>
      <p>In collaboration with Kansas City Nuclear Security Campus (KS/NSC) and NNSA, the Product Lifecycle Management team is undertaking MAP-R, a project to quantify the business value for model-based definition, manufacturing, and inspection. </p>
      <p>
        MAP-R will build on a study conducted by the National Institute of Standards and Technology (NIST) to help answer an array of questions:</p>
        <ul>
          <li>Does MBE provide a quantifiable business benefit?</li>
          <li>What are the attributes of a “trusted” model?</li>
          <li>How does the national security enterprise authorize a model as formal product definition?</li>
          <li>What are the current capabilities (people, processes, tools) and maturity related to the use of models in NW development?</li>
        </ul>

      <h3 class="col-sm-12">JTD Engineering Design Activity</h3>
      <p>Sandia will support the design engineering portion of a Joint Technology Demonstrator initiative to pilot an MBE process for development and deployment. This initiative includes participation of the three NNSA laboratories, KC/NSC, NNSA, US Air Force, US Navy, and several United Kingdom organizations: the Royal Navy, Ministry of Defense and Atomic Weapons Establishment (AWE).</p>
      
      <p><strong>The project will examine:</strong></p>
        <ul>
          <li>A CAD-driven product structure</li>
          <li>Integrated change management</li>
          <li>Improved model quality rules</li>
          <li>Enhanced collaboration with need-to-know enforced and published 3D viewables</li>
          <li>Data authorization via technical data packages</li>
        </ul>

      <h3 class="col-sm-12">MBx Summit 2017</h3>
      <p>We are partnering with multiple Sandia organizations to coordinate an MBx Summit in 2017. This summit is seen as a venue for sharing information on the focus and progress of MBE initiatives throughout Sandia and potentially for integrating efforts with common features and goals.</p>
    </div>

    <div class="col-md-4">
      <img src="styles/images/mbe.png" alt="" width="100%"/>
    </div>

  <div class="col-sm-12 scroller">
    <svg class="snl-icon snl-icon-chevron-down" ng-attr-title="Scroll Down" viewBox="0 0 24 24" ng-click="homeCtrl.scrollToSection('challenge');">
      <polygon points="8.8,3.5 6.7,5.6 13.1,12 6.7,18.4 8.8,20.5 17.3,12 "/>
    </svg>
  </div>
</section>




<section class="row mbe-group mbe-pilot" ng-init="showing=0">
  <a id="piloting" class="group-top"></a>
  <!-- <div class="col-sm-12 scroller">
    <svg class="snl-icon snl-icon-chevron-up" ng-attr-title="Scroll Up" viewBox="0 0 24 24" ng-click="homeCtrl.scrollToSection('challenge');">
      <polygon points="8.8,3.5 6.7,5.6 13.1,12 6.7,18.4 8.8,20.5 17.3,12 "/>
    </svg>
  </div> -->

  <h1 class="col-sm-12">Piloting MBE for the National Security Complex: MAP-R Project</h1>
  <!-- <div class="col-md-12">
    <div class="tabs">
      <a href="" ng-click="showing=1">MAP-R</a>
      <a href="" ng-click="showing=2">JTD Engineering Design Activity</a>
      <a href="" ng-click="showing=3">What are the benefits</a>
    </div>
  </div> -->

  <div class="col-sm-12">
    <div id="ourSolutionContent" ng-show="showing==0">
      <p>The Product Lifecycle Management team is involved in several efforts to promote MBE within the nuclear security enterprise.</p>
    </div>
    <!-- <ng-include src="'app/components/views/pilotingTabs/tab1.tpl.html'"></ng-include> -->
  </div>

  <div class="col-sm-12 scroller">
    <svg class="snl-icon snl-icon-chevron-down" ng-attr-title="Scroll Down" viewBox="0 0 24 24" ng-click="homeCtrl.scrollToSection('roadmap');">
      <polygon points="8.8,3.5 6.7,5.6 13.1,12 6.7,18.4 8.8,20.5 17.3,12 "/>
    </svg>
  </div>
</section>
