<section class="row mbe-group mbe-roadmap">
  <a id="roadmap" class="group-top"></a>
  <!-- <div class="col-sm-12 scroller">
    <svg class="snl-icon snl-icon-chevron-up" ng-attr-title="Scroll Up" viewBox="0 0 24 24" ng-click="homeCtrl.scrollToSection('solution');">
      <polygon points="8.8,3.5 6.7,5.6 13.1,12 6.7,18.4 8.8,20.5 17.3,12 "/>
    </svg>
  </div> -->

  <h1 class="col-sm-12">MBE Roadmap</h1>
  <p class="col-md-8">
    Achieving MBE maturity is a long and multi-pronged process. The MBE Capability Index—developed by the Department of Defense Engineering Drawing Modeling Working Group (DODMWG) and now transitioning to NIST—can provide a roadmap for establishing Sandia’s goals and progress toward from today’s estimated Maturity Level 1 to Level 5 or higher.
  </p>
  <div class="col-md-12">
    <h3 class="col-sm-12">MBE Capability Index</h3>
    <table class="table col-sm-12">
      <tr><th>Timeframe</th><th>Maturity Level #</th><th>Description</th><th>Summary</th></tr>
      <tr>
        <td></td>
        <td>0</td>
        <td>This level is the foundation upon all of the other levels are built upon. It is characterized by the dependency on the traditional 2D drawings. There is very little use if any of 3D models.</td>
        <td>
          <ul>
            <li>Drawing centric</li>
            <li>Disconnected manufacturing – disconnected enterprise</li>
            <li>Primary deliverable: 2d drawing</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2016</td>
        <td>1</td>
        <td>Maturity level 1 is the first level to begin effectively using 3D models. While drawings are still the masters they are now associated to the models and both are managed together.</td>
        <td>
          <ul>
            <li>Model centric</li>
            <li>Neutral Model CAM - Disconnected Enterprise</li>
            <li>Primary deliverable: 2d drawing and neutral CAD model</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2017</td>
        <td>2</td>
        <td>Maturity level 2 continues the use of 3D models with the exception of using neutral files. Instead, it centers on the reuse of the native CAD data. The models also made available to the extended enterprise by request.</td>
        <td>
          <ul>
            <li>Model centric</li>
            <li>Native Model CAM - Disconnected Enterprise</li>
            <li>Primary deliverable: 2d drawing and native CAD model</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2018</td>
        <td>3</td>
        <td>This capability level is the first to consider 3D models as the master source of the product definition. At this level the drawings are considered exceptions and may contain the PMI, however, the model is the geometric definition. This level uses Product Lifecycle Management tools and 3D lightweight CAD viewables for product definition throughout the enterprise.</td>
        <td>
          <ul>
            <li>Model based definition</li>
            <li>Native Model CAM - Disconnected Enterprise</li>
            <li>Primary deliverable: 3d Annotated Model and lightweight viewable</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2019</td>
        <td>4</td>
        <td>Level builds upon the level 3 capability, however, the model is now the sole master of the product definition, allowing the reuse of the model and the meta data as well.</td>
        <td>
          <ul>
            <li>Model based definition</li>
            <li>Integrated manufacturing - Disconnected Enterprise</li>
            <li>Primary deliverable: 3d Annotated Model and lightweight viewable</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2020</td>
        <td>5</td>
        <td>This level is where a true Model Based Enterprise takes shape. It continues to build upon the previous levels but adds enterprise connectivity. By doing so everyone in the enterprise has up to date access to the product definition and the technical data package (TDP).</td>
        <td>
          <ul>
            <li>Model based enterprise</li>
            <li>Integrated manufacturing – integrated internal enterprise</li>
            <li>Primary deliverable: Digital product definition package and TDP</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-12 scroller">
    <svg class="snl-icon snl-icon-chevron-down" ng-attr-title="Scroll Down" viewBox="0 0 24 24" ng-click="homeCtrl.scrollToSection('more');">
      <polygon points="8.8,3.5 6.7,5.6 13.1,12 6.7,18.4 8.8,20.5 17.3,12 "/>
    </svg>
  </div>
</section>
